.headin{
    /* Time Spent on Learning */

position: absolute;
width: 202px;
height: 26px;
left: 20px;
top: 20px;

font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;

color: #111026;

}
.select{
    /* Last week */

    position: absolute;
    width: 100px;
    height: 24px;
    right: 20px;
    top: 23px;
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    border: 0px;
    color: #111026;
}
.ind-1{
    /* Ellipse 4 */

    position: absolute;
    width: 12px;
    height: 12px;
    left: 20px;
    bottom: 45px;
    border-radius: 6px;
    background: #FF808B;

}
.ind-2{
    /* Ellipse 4 */

    position: absolute;
    width: 12px;
    height: 12px;
    left: 120px;
    bottom: 45px;
    border-radius: 6px;
    background: #4D4CAC;

}
.ind-3{
    /* Ellipse 4 */

    position: absolute;
    width: 12px;
    height: 12px;
    left: 210px;
    bottom: 45px;
    border-radius: 6px;
    background: #5E81F4;

}
.ind-4{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 300px;
    bottom: 45px;
    border-radius: 6px;
    background: #C8C9E9;
}

.ind-Val{
    position: absolute;
    top:-6px;
    left:15px;
}

