.LeftPanel{
    width: 280px;
    height:100vh;
    background-color: #fff;
    text-align: center;
    /* padding-top: 40px; */
}
.logo-container{   
    padding-top: 25px; 
}

.title{
    position: absolute;
    width: 114px;
    height: 45px;
    left: 135px;
    top: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    color: #111026;
}

.logo{
    position: absolute;
    left: 4.48%;
    right: 93.28%;
    top: 4.54%;
    bottom: 91.48%;
}

.sidemenu{
    position: fixed;
    top:20%;
    left: 2%;
}
.button{
    position: fixed;
    bottom: 8%;
    left: 5%;
}