.profile-container{
    width: 100%;
    position: relative;
}
.avatar{
    box-sizing: border-box;

    position: absolute;
    width: 160px;
    height: 160px;
    left: 12px;
    top: 20px;

    background: url(https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    border: 7px solid #F5F5FB;
    border-radius: 50%;

}
.name{
    position: absolute;
    width: 140px;
    height: 30px;
    left:25px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #111026;
}
.work{
    position: absolute;
    width: 63px;
    height: 24px;
    left: 63px;
    top: 224px;

    /* paragraph */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #A2A2C2;
}
.add-icon{
    position: absolute;
    width: 12px;
    height: 29px;
    left: 118px;
    top: 105px;

    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: blue;
    
}
