.RightPanel{
    width: 400px;
    height:100vh;
    background-color: #fff;
    text-align: center;
    position: relative;
    /* padding-top: 40px; */
}
.logout-container{
    padding-top: 25px; 
}
.profile-container{
    position: absolute;
    top: 15%;
    left: 37%;
}
.language-container{
    position: absolute;
    top: 35%;
    left: 10%;
}
.langDeatails-container{
    position: absolute;
    top: 62%;
    left: 10%;

}