.box{
    position: relative;
    width: 53px;
    height: 54px;
    background: #F5F5F7;
    border-radius: 12px;
    
}
.box-content{
    position: absolute;
    top:17px;
    left:18px;
    display: flex;
    justify-content: center;
}

